.addtask {
	padding-top: 10px;
}

.addtask__form div:not(:last-child) {
	padding-bottom: 15px;
}

.addtask__form label {
	display: inline-block;
	min-width: 100px;
	text-align: right;
}

.addtask .inner {
	display: inline-block;
}

.addtask__form .mainBtn {
	padding: 10px 30px; 
	width: 100%;
	border-radius: 10px;
}

.addtask__form .secondBtn {
	margin-top: 10px;
	padding: 5px 20px; 
	width: 40%;
	border-radius: 10px;
}

.addtask__btn-box {
	position: relative;
}

.addtask__btn-box .secondBtn:last-child {
	position: absolute;
	right: 0;
}

.datepicker {
	display: inline-block;
	vertical-align: middle;
	border: none;
}

.datepicker input {
	text-align: center !important;
	color: #555;
	background-color: #ddd;
}

input {
	min-width: 250px;
}


