.filter {
	padding-top: 10px;
}

.filter__form div {
	padding-bottom: 15px;
}

.filter__form label {
	display: inline-block;
	min-width: 100px;
	text-align: right;
}

.filter .inner {
	display: inline-block;
}

.filter__form .secondBtn {
	padding: 10px 30px; 
	width: 25%;
	border-radius: 10px;
}

.filter__form .mainBtn {
	padding: 10px 30px; 
	width: 70%;
	border-radius: 10px;
}

.filter__btn-box {
	position: relative;
}

.filter__btn-box .mainBtn {
	position: absolute;
	right: 0;
}

table {
	width: 100%;
	text-align: center;
}

th {
	padding: 5px 10px;
}

tr:nth-child(2n+1) {
	background-color: #fafafa;
}

td {
	padding: 5px;
}