* {
    box-sizing: border-box;
}

html {
	background-color: #999;
}

body {
	font-family: sans-serif;
	letter-spacing: .08em;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #555;
}

.container {
    max-width: 900px;
    margin: 0 auto 10px;
}

.inner {
    padding: 15px;
    background-color: #eee;
    border-radius: 10px;
}

button {
	outline: none;
	
	border: 2px solid;
	transition: all 0.1s;
	overflow: hidden;
}

.mainBtn {
	background: #1bc269;
	border-color: #289b5d;
	color: #fff;
	text-shadow: 0px 0px 5px #444;
	font-size: 16px;
	letter-spacing: .2em;
	font-weight: 700;
	line-height: 18px;
}

.secondBtn {
	border-color: #ddd;
	color: #fff;
	text-shadow: 0px 0px 5px #666;
	letter-spacing: .1em;
	font-weight: 400;
	font-size: 14px;
}


button:not(:active) {
	background-image: linear-gradient(to top, rgba(0,0,0,0.1),rgba(0,0,0,.01));
}

button:active {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.1),rgba(0,0,0,.01));
}

.secondBtn:not(:active) {
	border-left-color: #ddd;
	border-top-color: #ddd;
}

.secondBtn:hover:not(:active) {
	background: #eee;
}

.secondBtn:active {
	border-right-color: #ddd;
	border-bottom-color: #ddd;
}

.mainBtn:not(:active) {
	border-left-color: #58cf8f;
	border-top-color: #58cf8f;
}

.mainBtn:hover:not(:active) {
	background: #71e3a6;
}

.mainBtn:active {
	border-right-color: #58cf8f;
	border-bottom-color: #58cf8f;
}


input, select {
	background-color: #ddd;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	color: #444;
	outline-color: #999 ;

	letter-spacing: .08em;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

input::-webkit-input-placeholder {
	font-weight: 400;
}

input:-moz-placeholder {
	font-weight: 400;
}

input {
	text-align: center;
}