#* @vtlvariable name="contextPath" type="String" *#

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="$contextPath/resources/css/general.css">
    <link rel="stylesheet" href="$contextPath/resources/css/index.css">
</head>
<body>
	<div class="filter">
		<div class="container">
			<div class="inner">
				<form id="filter" class="filter__form">
					<div class="filter__startDate">
						<label for="startDate">StartDate:</label>
						<input name="startDate" id="startDate" class="datefield" type="text" placeholder="31/12/2000">
					</div>
					<div class="filter__endDate">
						<label for="endDate">EndDate:</label>
						<input name="endDate" id="endDate" class="datefield" type="text" placeholder="31/12/2000">
					</div>
					<div class="filter__Assignee">
						<label for="assignee">Assignee:</label>
						<select name="assignee" id="assignee">
							#parse("/vtl/assignee.vm")
						</select>
					</div>
					<div class="filter__Period">
						<label for="period">Period:</label>
						<select name="" id="period" onclick="periods(this.value)">
							<option value="custom">Custom</option>
							<option value="lquarter">Last Quarter</option>
							<option value="lmonth">Last Month</option>
							<option value="lweek">Last Week</option>
							<option value="cquarter">Current Quarter to Date</option>
							<option value="cmonth">Current Month to Date</option>
							<option value="cweek">Current Week to Date</option>
						</select>
					</div>
					<div class="filter__btn-box">
						<button type="button" class="secondBtn" onClick='location.href = "/TaskTable/api/addTask"'>Add</button>
						<button type="button" class="mainBtn" onclick="getTasks()">Find</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="result">
		<div class="container">

				#parse("/vtl/taskTable.vm")

		</div>
	</div>

	<script src="$contextPath/resources/js/jquery-3.4.1.min.js"></script>
	<script src="$contextPath/resources/js/jquery.maskedinput.min.js"></script>
	<script src="$contextPath/resources/js/index.js"></script>
</body>
</html>